* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 140px;
  background: #F9F9FA;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header > div {
  padding: 2rem;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header div .logo {
  width: 74px;
  margin-bottom: .5em;
}

header div span {
  font-weight: 700;
  color: #2C3344;
}

header div .line1 {
  font-size: 18px;
}

header div .line2 {
  line-height: 30px;
  font-size: 36px;
}

header div .solavieve {
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 1.25em;
}

main {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /** JUST FOR PAGE WITH ICONS**/
}

main p {
  font-size: 16px;
  font-weight: 400;
  margin: 53px 33px;
}

main .badge-list {
  margin: 20px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .badge-list .badge {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .badge-list .badge img {
  width: 86px;
}

main .badge-list .badge .badge-title {
  color: #262D3B;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

#myLandbot {
  -webkit-filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.14));
          filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.14));
  width: 95%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
/*# sourceMappingURL=style.css.map */